<div  *ngIf="hero">
  <h2 class="text-3xl text-zinc-100 font-semibold">{{hero.name | uppercase}} Details</h2>
  <div>
    <span class="font-semibold text-zinc-100">id:</span>
    {{ hero.id }}
  </div>
  <div class="flex content-around items-center">
    <label class="text-lg">
      Hero name:
    </label>
    <input
      class="ml-4 font-semibold text-zinc-100 bg-zinc-700 border-blue-500 focus:border-opacity-100"
      id="name"
      [(ngModel)]="hero.name"
      placeholder="name"
    />
  </div>
</div>
