<div class="mx-4 flex flex-col">
  <h2
    class="text-xl text-zinc-100 font-light flex items-center text-center content-center"
  >
    {{ hero.name | uppercase }} Details
  </h2>
  <div class="py-5">
    <div>
      <span class="font-semibold text-zinc-100">id:</span>
      {{ hero.id }}
    </div>
    <div class="flex content-around items-center">
      <label class="text-lg">
        Hero name:
      </label>
      <input
        class="ml-4 font-semibold text-zinc-100 bg-zinc-700 border-blue-500 focus:border-opacity-100"
        id="name"
        [(ngModel)]="hero.name"
        placeholder="name"
      />
    </div>
  </div>
</div>
