<div class="flex w-full">
  <div class="mx-10 flex-col">
    <h2
      class="text-3xl text-zinc-100 font-semibold flex items-center text-center content-center"
    >
      My Heroes
    </h2>
    <div class="mt-3">
      <ul>
        <li *ngFor="let hero of heroes" class="py-1">
          <button
            [class.selected]="hero === selectedHero"
            type="button"
            class="heroes"
            (click)="onSelect(hero)"
          >
            <div class="flex content-around">
              <span>{{ hero.id }}</span>
              <span class="ml-2 hover:font-bold hover:text-blue-500">
                {{ hero.name }}
              </span>
            </div>
          </button>
        </li>
      </ul>
    </div>
  </div>
  <app-hero-detail class="ml-[5rem]" [hero]="selectedHero"></app-hero-detail>
</div>
