<div class="flex w-full">
  <div class="mx-10 flex-col">
    <h2
      class="text-3xl text-zinc-100 font-semibold flex items-center text-center content-center"
    >
      My Heroes
    </h2>
    <div class="mt-3">
      <ul>
        <li *ngFor="let hero of heroes" class="py-3">
          <a class="px-5 align-center justify-center text-center text-lg" routerLink="/detail/{{hero.id}}">
            <span class="mr-2 font-extrabold" >{{hero.id}}|</span>{{hero.name}}
          </a>
        </li>
      </ul>
    </div>
  </div>
  <app-hero-detail class="mx-[5rem]" [hero]="selectedHero"></app-hero-detail>
</div>
